<!doctype html>
<html>

<head>
    <title>UseOfForce_Pilot1</title>
    <script src="/static/lib/jquery-min.js"></script>
    <script src="/static/js/jspsych.js"></script>
    <link href="/static/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <script src="/static/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.css"></link>

    <!-- // Needed by psiturk -->
    <script src="/static/lib/underscore-min.js" type="text/javascript">
    </script>
    <script src="/static/lib/backbone-min.js" type="text/javascript">
    </script>
    <!-- <script src="/static/lib/d3.v3.min.js" type="text/javascript">
    </script> -->

    <script type="text/javascript">
        // Subject info, including condition and counterbalance codes.
        var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
        var condition = "{{ condition }}";
        var counterbalance = "{{ counterbalance }}";
        var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
        var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
    </script>

    <script src="/static/js/psiturk.js" type="text/javascript">
    </script>

    <script src="/static/js/plugins/jspsych-text.js"></script>
    <script src="/static/js/plugins/jspsych-instructions.js"></script>
    <script src="/static/js/plugins/jspsych-survey-likert-slider.js"></script>
    <script src="/static/js/plugins/jspsych-html.js"></script>
    <script src="/static/js/plugins/jspsych-single-stim.js"></script>
    <script src="/static/js/plugins/jspsych-survey-multi-choice.js"></script>
    <script src="/static/js/plugins/jspsych-survey-text.js"></script>
    <script src="/static/js/plugins/jspsych-survey-multi-choice2.js"></script>

</head>

<body>

  <div id="jspsych-target"></div>

</body>

<script>
    /* load psiturk */
    var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);

    var randSubject_id = jsPsych.randomization.randomID()
    jsPsych.data.addProperties({
        randSubjectID: randSubject_id,
        date: Date()
    });

    // Create initial instructions
    var initialInstructions = {
        type: 'instructions',
        pages: [
            "<p><br><br><br><br><br><br><br><br>Welcome to the experiment. Please press 'Next' to continue. You may press 'Esc' at any time to end the experiment. In order to participate in this study, you must be a current resident of the United States, a fluent speaker of the English language, and over the age of 18. (NOTE: a statistical analysis of your answers will be run at the conclusion of the experiment, and if evidence of thoughtless responding is present, or if you fail to meet the required participation criteria, it may result in mTurk assignment rejection and nonpayment). Also, it is important that you complete this experiment using either the Google Chrome or Mozilla Firefox web browser. <b>If you are using some other browser, please close this window and navigate to this experiment using either Google Chrome or Mozilla Firefox.</b> Click next to begin.</p>"
        ],
        show_clickable_nav: true,
        data: {
            questionType: 'instructions'
        }
    };

    // // Create consent block and provide ability to decline participation
    var consent_block = {
        type: 'single-stim',
        stimulus: "<img src='static/images/1602685960_ICS_Credit-0.png' alt='Consent 1' height=1100 width=850><img src='static/images/1602685960_ICS_Credit-1.png' alt='Consent 2' height=1100 width=850></p>",
        is_html: true,
        choices: ['y', 'n'],
        prompt: "<div align='center'>If you consent to participate, please press <b>Y</b> to continue, if you do not consent to participate, please press <b>N</b> to end the experiment.</div>",
        on_finish: function() {
            if (jsPsych.data.getLastTrialData().key_press == 78) {
                jsPsych.endExperiment("<div align='center'>Thank you. Please close your browser window.</div>")
            }
        }
    };

    // var IUuser = {
    //   type: 'survey-text',
    //   questions: ['Please enter your IU user ID so that we can grant you credit at the conclusion of the experiment. Note: your user ID will only be used for the purpose of granting credit and for no other purpose. All collected data will be de-identified.'],
    //   on_finish: function() {
    //     userName = String(jsPsych.data.getLastTrialData().internalResp.Q0);
    //   }
    // };

    //-------------------------------------
    //psiTurk instructions
    //-------------------------------------
    // // Create experimentInstructions
    // var experimentInstructions = {
    //     type: 'instructions',
    //     pages: [
    //         "<div align='left'><br><br><br><br><br><br><br><br>On the following screens, you will be presented with scenarios that are representative of real life interactions involving police officers and civilians. The officer and civilian names have been purposefully changed to generic names (e.g., Smith, Jones, etc.). You will also be presented with pairs of actions that occurred during the encounter. Each action pair will include one action by the officer and one action by the civilian. The order in which the actions occurred during the encounter is unknown, so the order in which they appear does not reflect the order in which they actually happened. It is very important that you read each action description carefully.</div>",
    //         "<div align='left'><br><br><br><br><br><br><br>For every action, you will be asked to make several ratings including the following: </div> <div align='left'><li>Please rate the extent to which the actor used an <i>appropriate</i> level of force: (Insufficient - Appropriate - Excessive)</li> <li>Please rate how <i>morally acceptable</i> the actor's action is: (Completely Unacceptable - Completely Acceptable)</li> <li>Please rate the extent to which the actor should be <i>punished</i> for his action: (Not at all - Severely)</li></ul></div>",
    //         "<div align='left'><br><br><br><br><br><br><br><br>Each of the scenarios and rating questions will appear individually on the screen, and their order will vary from one screen to the next, so be sure to read everything carefully prior to making your rating. There are no right or wrong answers; we would like your intuitive, thoughtful responses (Be advised: a statistical analysis of your answers will be run at the conclusion of the experiment, and if evidence of thoughtless responding is present, it may result in mTurk assignment rejection and nonpayment).</div>",
    //         "<div align='left'><br><br><br><br><br><br><br><br>NOTE: You do not have to move the slider bar from its original position, but you must at least affirm its location by clicking on it before you will be allowed to submit your answer(s). Click the 'Next' button below when you are ready to begin.</div>"
    //     ],
    //     show_clickable_nav: true,
    //     data: {
    //         questionType: 'instructions'
    //     }
    // };

    //-------------------------------------
    //SONA instructions
    //-------------------------------------
    // Create experimentInstructions
    var experimentInstructions = {
        type: 'instructions',
        pages: [
            "<div align='left'><br><br><br><br><br><br><br><br>On the following screens, you will be presented with scenarios that represent real life interactions involving police officers and civilians. Officer and civilian names have been purposefully excluded. For each scenario, you will be presented with a pair of actions that occurred during the encounter. Each action pair will include one action by the officer and one action by the civilian, though other actions may have occurred before, between, or after the two actions that are listed. The order in which the presented actions occurred during the encounter is the order in which they are listed. It is very important that you read each action description carefully, because the actions will change for each scenario.</div>",
            "<div align='left'><br><br><br><br><br><br><br>You will be asked to make several ratings of some of the actions. You will always be asked to rate the second action listed, but the specific actions and the order of the questions will change between scenarios, so it is very important that you read each question carefully prior to responding.",
             "<div align='left'><br><br><br><br><br><br><br>The ratings you will be asked to make include the following: </div> <div align='left'><li>Please rate how much <i>force</i> is involved in the actor's action: (No Force - Maximum Force)</li><li>Please rate the extent to which the actor used an <i>appropriate</i> level of force: (Insufficient - Appropriate - Excessive)</li> <li>Please rate how <i>morally acceptable</i> the actor's action is: (Completely Unacceptable - Completely Acceptable)</li> <li>Please rate the extent to which the actor should be <i>punished</i> for his action: (Not at all - Severely)</li></ul></div>",
            "<div align='left'><br><br><br><br><br><br><br><br>Again, please be sure to read everything carefully prior to making every rating. There are no right or wrong answers; we would like your intuitive, thoughtful responses. NOTE: You must click the rating slider before you will be allowed to submit your answer. Click the 'Next' button below when you are ready to begin.</div>"
        ],
        show_clickable_nav: true,
        data: {
            questionType: 'instructions'
        }
    };

    var civQuestions = [
      {   name: "forceCiv",
          label1: "0<br>No Force",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Maximum Force",
          question: "Please rate how much <i><b>force</i></b> is involved in the <i><b>civilian's</i></b> action:",
          startPos: "50"
        },
        {
          name: "acceptableCiv",
          label1: "0<br>Completely Unacceptable",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Completely Acceptable",
          question: "Please rate how <i><b>morally acceptable</i></b> the <i><b>civilian's</i></b> action is:",
          startPos: "50"
      },
      {
          name: "appropriateCiv",
          label1: "0<br>Insufficient",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50<br>Appropriate",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Excessive",
          question: "Please rate the extent to which the <i><b>civilian</i></b> used an <i><b>appropriate</i></b> level of force:",
          moralInfluence: "socialMoralNorms",
          startPos: "50"
      },
      {
          name: "punishCiv",
          label1: "0<br>Not at all",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Severely",
          question: "Please rate the extent to which the <i><b>civilian</i></b> should be <i><b>punished</i></b> for his action:",
          moralInfluence: "punishment",
          startPos: "50"
      }
    ];
    // console.log(civQuestions)

    var offQuestions = [
      {
        name: "forceOff",
        label1: "0<br>No Force",
        label2: "10",
        label3: "20",
        label4: "30",
        label5: "40",
        label6: "50",
        label7: "60",
        label8: "70",
        label9: "80",
        label10: "90",
        label11: "100<br>Maximum Force",
        question: "Please rate how much <i><b>force</i></b> is involved in the <i><b>officer's</i></b> action:",
        startPos: "50"
      },
      {
          name: "acceptableOff",
          label1: "0<br>Completely Unacceptable",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Completely Acceptable",
          question: "Please rate how <i><b>morally acceptable</i></b> the <i><b>officer's</i></b> action is:",
          startPos: "50"
      },
      {
          name: "appropriateOff",
          label1: "0<br>Insufficient",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50<br>Appropriate",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Excessive",
          question: "Please rate the extent to which the <i><b>officer</i></b> used an <i><b>appropriate</i></b> level of force:",
          moralInfluence: "socialMoralNorms",
          startPos: "50"
      },
      {
          name: "punishOff",
          label1: "0<br>Not at all",
          label2: "10",
          label3: "20",
          label4: "30",
          label5: "40",
          label6: "50",
          label7: "60",
          label8: "70",
          label9: "80",
          label10: "90",
          label11: "100<br>Severely",
          question: "Please rate the extent to which the <i><b>officer</i></b> should be <i><b>punished</i></b> for his action:",
          moralInfluence: "punishment",
          startPos: "50"
      }
    ];

    //Create manipulation check questions
    var manipCheckQuestions = [{
        name: 'manipCheckLow',
        label1: "0<br>Left",
        label2: "10",
        label3: "20",
        label4: "30",
        label5: "40",
        label6: "50",
        label7: "60",
        label8: "70",
        label9: "80",
        label10: "90",
        label11: "100<br>Right",
        question: "To calibrate the study, please place the slider all the way to the left",
        actor: "combined",
        predictedCategory: 'NA',
        moralInfluence: 'manipCheckLow',
        startPos: "50"
    }, {
        name: 'manipCheckHigh',
        label1: "0<br>Left",
        label2: "10",
        label3: "20",
        label4: "30",
        label5: "40",
        label6: "50",
        label7: "60",
        label8: "70",
        label9: "80",
        label10: "90",
        label11: "100<br>Right",
        question: "To calibrate the study, please place the slider all the way to the right",
        actor: "combined",
        predictedCategory: 'NA',
        moralInfluence: 'manipCheckHigh',
        startPos: "50"
    }]

    //Create a list of Officer actions
    var officerActions = [{
        action1: "stood near",
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '1',
        name: 'stoodNear',
        catch: false
    }, {
        action1: "asked",
        action2: " how he was doing",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '1',
        name: 'asked',
        catch: false
    }, {
        action1: "waved at",
        action2: " in greeting",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '1',
        name: 'waved',
        catch: false
    }, {
        action1: 'yelled "get back!" at',
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '2',
        name: 'getBack',
        catch: false,
    }, {
        action1: 'shouted "get your fucking hands up!" at',
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '2',
        name: 'handsUp',
        catch: false
    }, {
        action1: 'said "if you touch me, you\'re gonna get hurt" to',
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '2',
        name: 'hurtThreat',
        catch: false
    },{
        action1: "called",
        action2: ' a "thug"',
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '2',
        name: 'nameCall',
        catch: false
    }, {
        action1: "put handcuffs on",
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '3',
        name: 'handcuff',
        catch: false
    }, {
        action1: 'sprayed',
        action2: " with pepper spray",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '3',
        name: 'pepperSpray',
        catch: false
    }, {
        action1: 'shocked',
        action2: " with a tazer",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '3',
        name: 'tazer',
        catch: false
    }, {
        action1: 'twisted the arm of',
        action2: ", forcing him to the ground",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '3',
        name: 'armbar',
        catch: false
    }, {
        action1: "punched",
        action2: " in the face",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '4',
        name: 'punchFace',
        catch: false
    }, {
        action1: "kicked",
        action2: " in the stomach",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '4',
        name: 'kickStom',
        catch: false
    }, {
        action1: 'applied a chokehold to',
        action2: "",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '4',
        name: 'choke',
        catch: false,
    }, {
        action1: 'headbutted',
        action2: " in the face",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '4',
        name: 'headbutt',
        catch: false
    }, {
        action1: 'struck',
        action2: " on the leg with a collapsible baton",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '5',
        name: 'batonLeg',
        catch: false
    },{
        action1: "shot",
        action2: ' in the chest with a beanbag shotgun round',
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '5',
        name: 'beanbag',
        catch: false
    }, {
        action1: "struck",
        action2: " in the stomach with a metal flashlight",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '5',
        name: 'flashlight',
        catch: false
    }, {
        action1: 'shot',
        action2: " in the chest with a handgun",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '6',
        name: 'handgunChest',
        catch: false
    }, {
        action1: 'shot',
        action2: " in the head with a handgun",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '6',
        name: 'handgunHead',
        catch: false
    }, {
        action1: 'slammed',
        action2: "\'s head into the concrete curb",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '6',
        name: 'headSlam',
        catch: false
    }, {
        action1: 'purposefully struck',
        action2: " with a motor vehicle",
        actor: "the officer",
        actee: "the civilian",
        predictedCategory: '6',
        name: 'vehicle',
        catch: false
    },

   ];

    //Create a list of civilian actions
    var civilianActions = [{
        action1: "stood near",
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '1',
        name: 'stoodNear',
        catch: false
    }, {
        action1: "asked",
        action2: " how he was doing",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '1',
        name: 'asked',
        catch: false
    }, {
        action1: "waved at",
        action2: " in greeting",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '1',
        name: 'waved',
        catch: false
    }, {
        action1: 'yelled "get back!" at',
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '2',
        name: 'getBack',
        catch: false,
    }, {
        action1: 'shouted "I don\'t have to fucking listen to you!" at',
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '2',
        name: 'dontListen',
        catch: false
    }, {
        action1: 'said "if you touch me, you\'re gonna get hurt" to',
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '2',
        name: 'hurtThreat',
        catch: false
    },{
        action1: "called",
        action2: ' a "pig"',
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '2',
        name: 'nameCall',
        catch: false
    }, {
        action1: "pulled away from",
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '3',
        name: 'pulledAway',
        catch: false
    }, {
        action1: 'sprayed',
        action2: " with pepper spray",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '3',
        name: 'pepperSpray',
        catch: false
    }, {
        action1: 'shocked',
        action2: " with a tazer",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '3',
        name: 'tazer',
        catch: false
    }, {
        action1: 'twisted the arm of',
        action2: ", forcing him to the ground",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '3',
        name: 'armbar',
        catch: false
    }, {
        action1: "punched",
        action2: " in the face",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '4',
        name: 'punchFace',
        catch: false
    }, {
        action1: "kicked",
        action2: " in the stomach",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '4',
        name: 'kickStom',
        catch: false
    }, {
        action1: 'applied a chokehold to',
        action2: "",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '4',
        name: 'choke',
        catch: false,
    }, {
        action1: 'headbutted',
        action2: " in the face",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '4',
        name: 'headbutt',
        catch: false
    }, {
        action1: 'struck',
        action2: " on the leg with a metal pipe",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '5',
        name: 'metalPipe',
        catch: false
    },{
        action1: "hit",
        action2: ' in the chest with a baseball bat',
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '5',
        name: 'ballBat',
        catch: false
    }, {
        action1: "struck",
        action2: " in the stomach with a metal flashlight",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '5',
        name: 'flashlight',
        catch: false
    }, {
        action1: 'shot',
        action2: " in the chest with a handgun",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '6',
        name: 'handgunChest',
        catch: false
    }, {
        action1: 'shot',
        action2: " in the head with a handgun",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '6',
        name: 'handgunHead',
        catch: false
    }, {
        action1: 'slammed',
        action2: "'s head into the concrete curb",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '6',
        name: 'headSlam',
        catch: false
    }, {
        action1: 'purposefully struck',
        action2: " with a motor vehicle",
        actor: "the civilian",
        actee: "the officer",
        predictedCategory: '6',
        name: 'vehicle',
        catch: false
    },

   ];


    //Create timeline of civilian actions
    var actionTimeline = []; // create blank timeline

    //CREATE LIST OF VIGNETTES/QUESTIONS FOR each crime
  // Create an array of arrays containing officer/civilian action pairings that don't repeat any action; one for each crime

      var offAct = jsPsych.randomization.shuffle(officerActions)
      var civAct = jsPsych.randomization.shuffle(civilianActions)

      var civEvalActions = [
          [offAct[0], civAct[0]],
          [offAct[1], civAct[1]],
          [offAct[2], civAct[2]],
          [offAct[3], civAct[3]],
          [offAct[4], civAct[4]],
          [offAct[5], civAct[5]],
          [offAct[6], civAct[6]],
          [offAct[7], civAct[7]],
          [offAct[8], civAct[8]],
          [offAct[9], civAct[9]],
          [offAct[10], civAct[10]],
      ];

      var offEvalActions = [
        [civAct[11], offAct[11]],
        [civAct[12], offAct[12]],
        [civAct[13], offAct[13]],
        [civAct[14], offAct[14]],
        [civAct[15], offAct[15]],
        [civAct[16], offAct[16]],
        [civAct[17], offAct[17]],
        [civAct[18], offAct[18]],
        [civAct[19], offAct[19]],
        [civAct[20], offAct[20]],
        [civAct[21], offAct[21]]
      ];
      // console.log(combinedActions)

      // Function to determine if a number is odd or even
      function isOdd(num) { return (num % 2) == 1;}

      //########################################################################################################################
      // Create the 11 vignettes in which the civilian's action will be evaluated (i.e., will happen after the officer's action)
      //########################################################################################################################
      manipCheckFlag = 0
      for (var actIdx = 0; actIdx < civEvalActions.length; actIdx++) { //loop through all action pairs

            var vignette = [];

            var shuffleQs = civQuestions
            // var shuffleQs = jsPsych.randomization.shuffle(civQuestions) // randomize the order of questions for each action

            //Create action phrases then put them together and shuffle their order so they can be randomly ordered in the questions below
            var officerAction = {
                action: civEvalActions[actIdx][0].actor + " " + civEvalActions[actIdx][0].action1 + " " + civEvalActions[actIdx][0].actee +  civEvalActions[actIdx][0].action2,
                order: civEvalActions[actIdx][0].actor,
                name: civEvalActions[actIdx][0].name,
                predictedCategory: civEvalActions[actIdx][0].predictedCategory
            };

            var civilianAction = {
                action: civEvalActions[actIdx][1].actor + " " + civEvalActions[actIdx][1].action1 + " " + civEvalActions[actIdx][1].actee +  civEvalActions[actIdx][1].action2,
                order: civEvalActions[actIdx][1].actor,
                name: civEvalActions[actIdx][1].name,
                predictedCategory: civEvalActions[actIdx][1].predictedCategory
            };

            // var combActs = jsPsych.randomization.shuffle([firstAction, secondAction]);
            // console.log(combActs);

            //Create experiment questions
            for (var questIdx = 0; questIdx < shuffleQs.length; questIdx++) { // for each of the questions in shuffleQs, create a likert question with associated properties

                var question = {
                    type: 'survey-likert',
                    preamble: [("<div <br><br><br><br><br>While working a patrol shift, a police officer was dispatched to a reported crime, and in the course of the investigation, he came into contact with a civilian. During their subsequent interaction, the following actions took place *in the order listed below* (other actions may have occurred before, between, or after). <br><ol><li><b>" + officerAction.action + "<br><li>" + civilianAction.action + "</b></ol></div>")],
                    questions: [shuffleQs[questIdx].question],
                    labels: [
                      [shuffleQs[questIdx].label1, shuffleQs[questIdx].label2, shuffleQs[questIdx].label3, shuffleQs[questIdx].label4, shuffleQs[questIdx].label5, shuffleQs[questIdx].label6, shuffleQs[questIdx].label7, shuffleQs[questIdx].label8, shuffleQs[questIdx].label9, shuffleQs[questIdx].label10, shuffleQs[questIdx].label11]
                    ],
                    intervals: [100],
                    data: {
                      officerAction: officerAction.action,
                      civilianAction: civilianAction.action,
                      offActName: officerAction.name ,
                      civActName: civilianAction.name,
                      order: "officerCivilian",
                      questionName: shuffleQs[questIdx].name,
                      questionType: 'offCivRatings'
                    },
                    timing_post_trial: 0,
                    startPosition: [shuffleQs[questIdx].startPos],
                    on_finish: function() {
                        jsPsych.data.addDataToLastTrial({
                            response: jsPsych.data.getLastTrialData().internalResp.Q0
                        })
                    }
                }
                vignette.push(question)
                // trial.push(question) // add each likert question to the trial variable
            } // closes question loop

            //create manipulation check question
            var randManipQuestion = jsPsych.randomization.sample(manipCheckQuestions, 1, false);

            if (isOdd(manipCheckFlag)){
            var manipCheck = {
                type: 'survey-likert',
                preamble: [("<div <br><br><br><br><br>While working a patrol shift, a police officer was dispatched to a reported crime, and in the course of the investigation, he came into contact with a civilian. During their subsequent interaction, the following actions took place *in the order listed below* (other actions may have occurred before, between, or after). <br><ol><li><b>" + officerAction.action + "<br><li>" + civilianAction.action + "</b></ol></div>")],
                questions: [randManipQuestion[0].question],
                labels:[
                  [randManipQuestion[0].label1, randManipQuestion[0].label2, randManipQuestion[0].label3, randManipQuestion[0].label4, randManipQuestion[0].label5, randManipQuestion[0].label6, randManipQuestion[0].label7, randManipQuestion[0].label8, randManipQuestion[0].label9, randManipQuestion[0].label10, randManipQuestion[0].label11]
                ],
                intervals: [100],
                data: {
                  officerAction: officerAction.action,
                  civilianAction: civilianAction.action,
                  offActName: officerAction.name ,
                  civActName: civilianAction.name,
                  order: "officerCivilian",
                  questionName: randManipQuestion[0].name,
                  questionType: 'offCivRatings'
                },
                timing_post_trial: 0,
                startPosition: [randManipQuestion[0].startPos],
                on_finish: function() {
                    jsPsych.data.addDataToLastTrial({
                        response: jsPsych.data.getLastTrialData().internalResp.Q0
                    })
                }
            }
            vignette.push(manipCheck)
          }

            vignette = jsPsych.randomization.shuffle(vignette)

            var actionBreak = {
              type: 'instructions',
              pages: ["<div align='center'><br><br><br><br><br><br><br><br><br><br>Click for the next scenario</div>"],
              show_clickable_nav: true,
              timing_post_trial: 200,
              data: {questionType: 'break'}
            }
            vignette.push(actionBreak)
            actionTimeline.push(vignette)
            var manipCheckFlag = manipCheckFlag + 1
      }; // closes action loop

      //########################################################################################################################
      // Create the 11 vignettes in which the officer's action will be evaluated (i.e., will happen after the civilian's action)
      //########################################################################################################################
      manipCheckFlag = 0
      for (var actIdx = 0; actIdx < offEvalActions.length; actIdx++) { //loop through all action pairs

            var vignette = [];

            var shuffleQs = offQuestions
            // var shuffleQs = jsPsych.randomization.shuffle(civQuestions) // randomize the order of questions for each action

            //Create action phrases then put them together and shuffle their order so they can be randomly ordered in the questions below
            var civilianAction = {
                action: offEvalActions[actIdx][0].actor + " " + offEvalActions[actIdx][0].action1 + " " + offEvalActions[actIdx][0].actee +  offEvalActions[actIdx][0].action2,
                order: offEvalActions[actIdx][0].actor,
                name: offEvalActions[actIdx][0].name,
                predictedCategory: offEvalActions[actIdx][0].predictedCategory
            };

            var officerAction = {
                action: offEvalActions[actIdx][1].actor + " " + offEvalActions[actIdx][1].action1 + " " + offEvalActions[actIdx][1].actee +  offEvalActions[actIdx][1].action2,
                order: offEvalActions[actIdx][1].actor,
                name: offEvalActions[actIdx][1].name,
                predictedCategory: offEvalActions[actIdx][1].predictedCategory
            };

            // var combActs = jsPsych.randomization.shuffle([firstAction, secondAction]);
            // console.log(combActs);

            //Create experiment questions
            for (var questIdx = 0; questIdx < shuffleQs.length; questIdx++) { // for each of the questions in shuffleQs, create a likert question with associated properties

                var question = {
                    type: 'survey-likert',
                    preamble: [("<div <br><br><br><br><br>While working a patrol shift, a police officer was dispatched to a reported crime, and in the course of the investigation, he came into contact with a civilian. During their subsequent interaction, the following actions took place *in the order listed below* (other actions may have occurred before, between, or after). <br><ol><li><b>" + civilianAction.action + "<br><li>" + officerAction.action + "</b></ol></div>")],
                    questions: [shuffleQs[questIdx].question],
                    labels: [
                      [shuffleQs[questIdx].label1, shuffleQs[questIdx].label2, shuffleQs[questIdx].label3, shuffleQs[questIdx].label4, shuffleQs[questIdx].label5, shuffleQs[questIdx].label6, shuffleQs[questIdx].label7, shuffleQs[questIdx].label8, shuffleQs[questIdx].label9, shuffleQs[questIdx].label10, shuffleQs[questIdx].label11]
                    ],
                    intervals: [100],
                    data: {
                      officerAction: officerAction.action,
                      civilianAction: civilianAction.action,
                      offActName: officerAction.name ,
                      civActName: civilianAction.name,
                      order: "civilianOfficer",
                      questionName: shuffleQs[questIdx].name,
                      questionType: 'offCivRatings'
                    },
                    timing_post_trial: 0,
                    startPosition: [shuffleQs[questIdx].startPos],
                    on_finish: function() {
                        jsPsych.data.addDataToLastTrial({
                            response: jsPsych.data.getLastTrialData().internalResp.Q0
                        })
                    }
                }
                vignette.push(question)
                // trial.push(question) // add each likert question to the trial variable
            } // closes question loop

            //create manipulation check question
            var randManipQuestion = jsPsych.randomization.sample(manipCheckQuestions, 1, false);

            if (isOdd(manipCheckFlag)){
            var manipCheck = {
                type: 'survey-likert',
                preamble: [("<div <br><br><br><br><br>While working a patrol shift, a police officer was dispatched to a reported crime, and in the course of the investigation, he came into contact with a civilian. During their subsequent interaction, the following actions took place *in the order listed below* (other actions may have occurred before, between, or after). <br><ol><li><b>" + civilianAction.action + "<br><li>" + officerAction.action + "</b></ol></div>")],
                questions: [randManipQuestion[0].question],
                labels:[
                  [randManipQuestion[0].label1, randManipQuestion[0].label2, randManipQuestion[0].label3, randManipQuestion[0].label4, randManipQuestion[0].label5, randManipQuestion[0].label6, randManipQuestion[0].label7, randManipQuestion[0].label8, randManipQuestion[0].label9, randManipQuestion[0].label10, randManipQuestion[0].label11]
                ],
                intervals: [100],
                data: {
                  officerAction: officerAction.action,
                  civilianAction: civilianAction.action,
                  offActName: officerAction.name ,
                  civActName: civilianAction.name,
                  order: "civilianOfficer",
                  questionName: randManipQuestion[0].name,
                  questionType: 'offCivRatings'
                },
                timing_post_trial: 0,
                startPosition: [randManipQuestion[0].startPos],
                on_finish: function() {
                    jsPsych.data.addDataToLastTrial({
                        response: jsPsych.data.getLastTrialData().internalResp.Q0
                    })
                }
            }
            vignette.push(manipCheck)
          }

            vignette = jsPsych.randomization.shuffle(vignette)

            var actionBreak = {
              type: 'instructions',
              pages: ["<div align='center'><br><br><br><br><br><br><br><br><br><br>Click for the next scenario</div>"],
              show_clickable_nav: true,
              timing_post_trial: 200,
              data: {questionType: 'break'}
            }
            vignette.push(actionBreak)
            actionTimeline.push(vignette)
            var manipCheckFlag = manipCheckFlag + 1
      }; // closes action loop

    var actionTimeline = jsPsych.randomization.shuffle(actionTimeline); // randomize the blocks of vignettes
    var actionTimeline = [].concat.apply([], actionTimeline); // remove the nested array structure so that actionTimeline just contains one big array of objects

      //randomize the action timeline so that all of the questions and scenarios are mixed up together
    // var actionTimeline = [].concat.apply([],actionTimeline);
    // var actionTimeline = jsPsych.randomization.shuffle(actionTimeline);
    console.log(actionTimeline);

    //Attitudes toward police questions - Johnson, Hogan, Zonderman, Callens, & Rogolsky (1981):
    var policeQuestions = jsPsych.randomization.shuffle([{
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Bad", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Good"],
        startPosition: "50",
        name: "goodBad"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Pessimistic", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Optimistic"],
        startPosition: "50",
        name: "pessimisticOptimistic"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Hostile", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Friendly"],
        startPosition: "50",
        name: "hostileFriendly"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Altruistic", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Egoistic"],
        startPosition: "50",
        name: "altruisticEgoistic"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Dishonest", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Honest"],
        startPosition: "50",
        name: "dishonestHonest"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Cruel", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Kind"],
        startPosition: "50",
        name: "cruelKind"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Unfair", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Fair"],
        startPosition: "50",
        name: "unfairFair"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Unimportant", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Important"],
        startPosition: "50",
        name: "unimportantImportant"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Worthless", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Valuable"],
        startPosition: "50",
        name: "worthlessValuable"
    }, {
        questions: ["Please rate the <i><b>Police</i></b> using the scale below."],
        labels: ["0<br><b>Unsuccessful", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br><b>Successful"],
        startPosition: "50",
        name: "unsuccsessfulSuccessful"
    }]);

    var policeAttitudes = [];
    for (var i = 0; i < policeQuestions.length; i++) {
        var question = {
            type: 'survey-likert',
            preamble: "<br><br><br><br><br><br><br><br><div align='center'>For the <i><b>Police</i></b> in general, please make the following ratings:</div>",
            intervals: [100],
            timing_post_trial: 0,
            questions: [policeQuestions[i].questions],
            labels: [policeQuestions[i].labels],
            data: {
                name: policeQuestions[i].name,
                questionType: 'generalPolice'
            },
            startPosition: [policeQuestions[i].startPosition],
            on_finish: function() {
                jsPsych.data.addDataToLastTrial({
                    response: jsPsych.data.getLastTrialData().internalResp.Q0
                })
            }
        }
        policeAttitudes.push(question);
    };

    var policeQuestionsII = jsPsych.randomization.shuffle([{
        questions: ["Have you ever been stopped by the police on the street without good reason?"],
        options: ["no", "yes"],
        name: "stopped",
        person: "personal"
    }, {
        questions: ["Has anyone in your household ever been stopped on the street by the police without good reason?"],
        options: ["no", "yes"],
        name: "stopped",
        person: "vicarious"
    }, {
        questions: ["Have the police ever used insulting language toward you?"],
        options: ["no", "yes"],
        name: "insultLang",
        person: "personal"
    }, {
        questions: ["Have the police ever used insulting language toward anyone in your household?"],
        options: ["no", "yes"],
        name: "insultLang",
        person: "vicarious"
    }, {
        questions: ["Have the police ever used excessive force against you?"],
        options: ["no", "yes"],
        name: "excessForce",
        person: "personal"
    }, {
        questions: ["Have the police ever used excessive force against anyone in your household?"],
        options: ["no", "yes"],
        name: "excessForce",
        person: "vicarious"
    }, {
        questions: ["Have you ever seen a police officer engage in any corrupt activities (e.g., taking bribes or involvement in the drug trade)?"],
        options: ["no", "yes"],
        name: "corrupt",
        person: "personal"
    }]);

    var policeExperience = [];
    for (var i = 0; i < policeQuestionsII.length; i++) {
        var question = {
            type: 'survey-multi-choice2',
            required: [true],
            preamble: '<br><br><br><br><br><br><br>Please answer the following questions:',
            questions: ["<b>" + policeQuestionsII[i].questions],
            options: [policeQuestionsII[i].options],
            timing_post_trial: 0,
            horizontal: true,
            data: {
                name: policeQuestionsII[i].name,
                person: policeQuestionsII[i].person,
                question: policeQuestionsII[i].questions,
                questionType: 'policeExperience'
            },
            on_finish: function() {
                jsPsych.data.addDataToLastTrial({
                    response: jsPsych.data.getLastTrialData().internalResp.Q0
                })
            }
        }
        policeExperience.push(question);
    };

    var policeQuestionsIII = jsPsych.randomization.shuffle([{
        questions: "You should support the decisions made by police officers even when you disagree with them.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "support",
        dimension: "feltObligation",
        startPosition: [50]
    }, {
        questions: "You should do what the police tell you even if you do not understand or agree with the reasons.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "doReasons",
        dimension: "feltObligation",
        startPosition: [50]
    }, {
        questions: "You should do what the police tell you to do even if you do not like how they treat you.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "doTreat",
        dimension: "feltObligation",
        startPosition: [50]
    }, {
        questions: "The police generally have the same sense of right and wrong that you do.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "rightWrong",
        dimension: "normAlignment",
        startPosition: [50]
    }, {
        questions: "The police stand up for values that are important to you.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "importantValues",
        dimension: "normAlignment",
        startPosition: [50]
    }, {
        questions: "You and the police want the same things for your community.",
        labels: ["0<br>completely disagree", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100<br>completely agree"],
        name: "communityWants",
        dimension: "normAlignment",
        startPosition: [50]
    }]);

    var policeLegitimacy = [];
    for (var i = 0; i < policeQuestionsIII.length; i++) {
        var question = {
            type: 'survey-likert',
            preamble: "<br><br><br><br><br><br><br><br><div align='center'>Please answer the following questions:</div>",
            intervals: [100],
            timing_post_trial: 0,
            questions: ["<b>" + policeQuestionsIII[i].questions],
            labels: [policeQuestionsIII[i].labels],
            data: {
                name: policeQuestionsIII[i].name,
                dimension: policeQuestionsIII[i].dimension,
                questionType: 'policeLegitimacy'
            },
            startPosition: [policeQuestionsIII[i].startPosition],
            on_finish: function() {
                jsPsych.data.addDataToLastTrial({
                    response: jsPsych.data.getLastTrialData().internalResp.Q0
                })
            }
        }
        policeLegitimacy.push(question);
    };


    // Create demographics questions
    var genderQ = 'What is your sex?'
    var genderOp = ['male', 'female', 'other']

    var raceQ = "What is your race?"
    var raceOp = ["American Indian/Alaska Native", "Asian", "Native Hawaiian or Other Pacific Islander", "Black or African American", "White", "Hispanic or Latino", "More than one", "Unknown"]

    var polAffQ = "When it comes to politics, do you usually think of yourself as liberal, moderate, conservative, or something else?" // taken from Iyer, Koleva, Graham, Ditto, & Haidt (2012)
    var polAffOp = ["very liberal", "liberal", "slightly liberal", "moderate/middle of the road", "slightly conservative", "conservative", "very conservative", "don't know/not political", "libertarian", "other"]

    // Create demographics survey
    var demographics = {
        type: 'survey-multi-choice',
        required: [true, true, true],
        preamble: '<div align="center"><b>Please answer the following questions (be sure to scroll down to ensure you do not miss anything):</b>',
        questions: [
            genderQ, raceQ, polAffQ
        ],
        options: [
            genderOp, raceOp, polAffOp
        ],
        data: {
            questionType: 'demographics'
        },
        on_finish: function() {
            jsPsych.data.addProperties({
                sex: jsPsych.data.getLastTrialData().internalResp.Q0,
                race: jsPsych.data.getLastTrialData().internalResp.Q1,
                polAff: jsPsych.data.getLastTrialData().internalResp.Q2
            })
        }
    };

    // Create debriefing and experiment conclusion
    var debriefing = {
        type: 'instructions',
        pages: [
            'Thank you for participating in this experiment. The following screens briefly explain the experiment.',
            'In this experiment we are interested in knowing how civilians make moral evaluations of the use of force in police-citizen interactions. Specifically, we are studying the extent to which moral evaluations of the use of force involving police officers and civilians is impacted by differential levels of moralization of the social roles and characteristics of those involved, the context of the interaction, and by individual differences present in observers and the agents who are directly involved.',
            'Some people may have participated in a version of the study that is focused on indentifying moral evaluations of specific actions in isolation, and other people may have participated in a version of the study that assessed moral evaluations of more than one action performed by multiple agents. The results will inform theories of lay perceptions of the use of force in police-citizen interactions, and might also have practical implications for disparities observed between lay and expert force evaluations that are observed in the real world.',
            'If you have any questions or would like to know more about this research please email Dr. John Kruschke at moralpsychatiu@gmail.com. Thanks again for participating!'
        ],
        show_clickable_nav: true,
        data: {
            questionType: 'debriefing'
        }
    };

    //Code for short version of actionTimeline for testing
    // actionTimeline = actionTimeline.slice(0,3);

    //Compile the overall experiment timeline
    var timeline = [];
    // timeline = timeline.concat(experimentInstructions, actionTimeline);
    timeline = timeline.concat(initialInstructions, experimentInstructions, actionTimeline, policeLegitimacy, policeExperience, demographics, debriefing);
    // console.log(timeline);

    // Saving Data Apache Server
    // function saveData(filename, filedata){
    //   $.ajax({
    //     type:'post',
    //     cache: false,
    //     url: 'save_data.php', // path to the php script for saving data
    //     data: {filename: filename, filedata: filedata}
    //   })
    // }
    //
    // jsPsych.init({
    //   display_element: $('#jspsych-target'),
    //   timeline: timeline,
    //   show_progress_bar: true,
    //   fullscreen: true,
    //   on_finish: function(data){ saveData(randSubject_id + ".csv", jsPsych.data.dataAsCSV()) }

      // psiTurk data saving
      jsPsych.init({
          timeline: timeline,
          fullscreen: true,
      on_data_update: function(data) {
        psiturk.recordTrialData(data);
      },
      on_finish: function() {
        psiturk.saveData({
          success: function() { psiturk.completeHIT(); }
        });
      }
    });
</script>

</html>
